* {
  margin: 0;
  padding: 0;
}

.header__burger-btn {
  position: relative;
  width: 40px;
  height: 40px;
  border: none;
  background: none;
}

.link__home-img {
  width: 96px;
}

.link__home-img img {
  width: 100%;
  height: 100%;
}

.header__burger-btn span {
  position: absolute;
  width: 30px;
  height: 3px;
  left: 5px;
  background-color: black;
}

.header__burger-btn span:nth-child(1) {
  transform: translateY(-10px);
}

.header__burger-btn span:nth-child(3) {
  transform: translateY(10px);
}

.all__navigation {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  min-height: 104px;
  margin: 0 auto;
}

.block__navigation {
  display: none;
  align-items: center;
  list-style-type: none;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1rem;
  gap: 15px;
  margin: 0 auto;
}

.block__navigation li a {
  text-decoration: none;
  color: #000000;
}

.block__btn__nav {
  display: flex;
  align-items: center;
  justify-content: right;
}

.contact__us-btn {
  display: none;
  border: none;
  background: #332e29;
  color: #ffffff;
  font-size: 1rem;
  padding: 7px 20px;
  border-radius: 5px;
  text-transform: uppercase;
}

@media (min-width: 780px) {
  .header__burger-btn {
    display: none;
  }

  .block__navigation {
    display: flex;
  }
}

@media (max-width: 780px) {
  .block__btn__nav {
    width: 90%;
  }
}

@media (min-width: 575px) {
  .contact__us-btn {
    display: block;
  }

 
  .header__burger-btn {
    margin: 0 auto;
  }
}

